.footer {
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    font-size: small;
    max-width: 80%;
    margin:auto;
}

.footer h1 {
    font-size: small;
    font-weight: 400;
}

.items {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 32px;
}

.items p {
    margin: 0;
}